In [1]:
import pandas as pd
import numpy as np

In [2]:
def getMovieInfo(query):

    import http.client
    import json

    conn = http.client.HTTPSConnection("api.themoviedb.org")

    payload = "{}"

    payload2 = "{}"

    conn.request("GET", "/3/search/movie?include_adult=false&page=1&language=en-US&api_key=36c1aef1dac39d6f2522547134eb7e0e&query="+query, payload)
    res = conn.getresponse()
    data = res.read() 
    
    json_result = json.loads(data)

    if len(json_result['results']) == 0:
        movie_info = pd.Series([0, 0, 0])
    else:
        movie_id = str(json_result['results'][0]['id'])

        conn.request("GET", "/3/movie/"+movie_id+"?api_key=36c1aef1dac39d6f2522547134eb7e0e&language=en-US", payload2)
        res_details = conn.getresponse()
        data_movie = res_details.read() 

        json_result = json.loads(data_movie)
        movie_budget = str(json_result['budget'])
        movie_runtime = str(json_result['runtime'])
        movie_vote_average = str(json_result['vote_average'])

        movie_info = pd.Series([movie_budget,movie_runtime, movie_vote_average])

    return movie_info

In [3]:
#loyalty_users = pd.read_csv('arquivos/loyalty_program_users.csv')
#tickets_list = pd.read_csv('arquivos/tickets_list.csv')

all_tickets = pd.read_excel('arquivos/all_tickets_sold.xlsx')
loyalty_sales = pd.read_excel('arquivos/loyalty_sales.xlsx')

In [4]:
#Rename columns to be equals
all_tickets.rename(columns={'Projection time': 'proj_time', 'Movie': 'movie', 'sale (Euros)':'sales', 'screen number':'screen_number', 'movie theater':'cinema'}, inplace=True)
loyalty_sales.rename(columns={'User':'user', 'Projection time': 'proj_time', 'number of tickets':'qty_tickets', 'screen number':'screen_number'}, inplace=True)


#Union both sources
all_sales = pd.concat([loyalty_sales, all_tickets ])

,cinema,format,movie,proj_time,promotion,qty_tickets,sales,screen_number,user
0,Grand Cinema,2D,Sausage Party,2016-07-26 19:00,5 euros reduction for a ticket,2.0,NaN,3,23827.0
1,Hip Cinema,2D,Keanu,2016-05-02 20:00,2 euros reduction for a ticket,1.0,NaN,6,40290.0
2,Grand Cinema,2D,Central Intelligence,2016-07-05 17:30,2 euros reduction for a ticket,1.0,NaN,4,12875.0
3,Hip Cinema,2D,Bad Moms,2016-08-11 15:00,1 euro reduction for a ticket,2.0,NaN,2,47164.0
4,Grand Cinema,2D,Passengers,2016-12-31 23:00,1 euro reduction for a ticket,1.0,NaN,4,43653.0
5,Grand Cinema,3D,Doctor Strange,2016-11-14 21:00,2 euros reduction for a ticket,4.0,NaN,8,41477.0
6,Grand Cinema,2D,Jane Got a Gun,2016-01-19 22:00,1 euro reduction for a ticket,3.0,NaN,2,21340.0
7,Grand Cinema,2D,Gods of Egypt,2016-03-02 23:00,1 free ticket,4.0,NaN,4,44468.0
8,Grand Cinema,2D,Allied,2016-12-06 19:00,5 euros reduction for a ticket,3.0,NaN,1,39738.0
9,Hip Cinema,2D,Triple 9,2016-01-18 20:00,1 euro reduction for a ticket,4.0,NaN,5,18629.0
10,Grand Cinema,2D,Zootopia,2016-02-17 23:00,1 euro reduction for a ticket,3.0,NaN,5,51181.0
11,Grand Cinema,IMAX,Finding Dory,2016-06-28 20:00,2 euros reduction for a ticket,1.0,NaN,10,17771.0
12,Hip Cinema,2D,Fences,2017-01-02 19:00,1 euro reduction for a ticket,3.0,NaN,4,15086.0
13,Hip Cinema,2D,Moana,2016-12-12 23:00,1 euro reduction for a ticket,3.0,NaN,5,37773.0
14,Grand Cinema,2D,Collateral Beauty,2016-12-26 21:00,5 euros reduction for a ticket,1.0,NaN,6,23318.0
15,Grand Cinema,2D,Midnight Special,2016-03-10 21:00,1 euro reduction for a ticket,1.0,NaN,3,32748.0
16,Grand Cinema,2D,The Secret Life of Pets,2016-06-20 17:00,1 free ticket,1.0,NaN,1,50124.0
17,Hip Cinema,2D,Gods of Egypt,2016-03-07 19:00,2 euros reduction for a ticket,1.0,NaN,5,43865.0
18,Hip Cinema,2D,Collateral Beauty,2016-12-17 20:30,5 euros reduction for a ticket,4.0,NaN,2,44493.0
19,Grand Cinema,2D,Arrival,2016-11-19 20:00,2 euros reduction for a ticket,1.0,NaN,8,31742.0
20,Hip Cinema,2D,Jane Got a Gun,2016-01-20 23:00,5 euros reduction for a ticket,1.0,NaN,1,46090.0
21,Hip Cinema,2D,Gold,2017-01-07 17:00,1 euro reduction for a ticket,1.0,NaN,2,13910.0
22,Hip Cinema,2D,Hidden Figures,2016-12-18 20:00,1 free ticket,1.0,NaN,1,18549.0
23,Grand Cinema,2D,Moonlight,2016-10-28 20:30,2 euros reduction for a ticket,2.0,NaN,2,45056.0
24,Grand Cinema,2D,Sing,2016-11-27 19:00,2 euros reduction for a ticket,1.0,NaN,7,38875.0
25,Grand Cinema,2D,The BFG,2016-06-13 17:30,2 euros reduction for a ticket,2.0,NaN,5,55524.0
26,Hip Cinema,2D,Arrival,2016-11-24 17:30,1 euro reduction for a ticket,3.0,NaN,5,42596.0
27,Hip Cinema,3D,Star Trek Beyond,2016-07-24 15:00,2 euros reduction for a ticket,1.0,NaN,9,38033.0
28,Grand Cinema,IMAX,Ghostbusters,2016-07-25 22:00,5 euros reduction for a ticket,1.0,NaN,10,14595.0
29,Hip Cinema,2D,The Infiltrator,2016-08-01 15:00,1 euro reduction for a ticket,4.0,NaN,6,12629.0
...,...,...,...,...,...,...,...,...,...
81769,Grand Cinema,IMAX,The Angry Birds Movie,2016-05-19 21:00,NaN,NaN,51.0,10,NaN
81770,Grand Cinema,IMAX,Allied,2016-11-30 15:00,NaN,NaN,17.0,10,NaN
81771,Hip Cinema,2D,The Secret Life of Pets,2016-06-26 22:00,NaN,NaN,13.0,5,NaN
81772,Hip Cinema,3D,Hacksaw Ridge,2016-10-17 20:00,NaN,NaN,15.0,9,NaN
81773,Grand Cinema,2D,Teenage Mutant Ninja Turtles: Out of the Shadows,2016-06-21 20:30,NaN,NaN,26.0,8,NaN
81774,Grand Cinema,2D,Jackie,2016-12-21 19:00,NaN,NaN,39.0,7,NaN
81775,Hip Cinema,3D,The Shallows,2016-07-02 15:00,NaN,NaN,60.0,9,NaN
81776,Grand Cinema,2D,Hacksaw Ridge,2016-10-08 19:00,NaN,NaN,13.0,8,NaN
81777,Grand Cinema,2D,Jason Bourne,2016-08-15 20:30,NaN,NaN,52.0,4,NaN
81778,Grand Cinema,3D,The Witch,2016-02-28 21:00,NaN,NaN,60.0,9,NaN
81779,Grand Cinema,IMAX,Midnight Special,2016-03-01 20:30,NaN,NaN,34.0,10,NaN
81780,Grand Cinema,IMAX,Blair Witch,2016-10-05 20:30,NaN,NaN,17.0,10,NaN
81781,Hip Cinema,3D,Jason Bourne,2016-08-09 15:00,NaN,NaN,30.0,9,NaN
81782,Hip Cinema,3D,Sing,2016-12-01 21:00,NaN,NaN,60.0,9,NaN
81783,Grand Cinema,IMAX,The Witch,2016-03-03 23:00,NaN,NaN,68.0,10,NaN
81784,Grand Cinema,2D,Masterminds,2016-10-01 20:30,NaN,NaN,39.0,5,NaN
81785,Hip Cinema,3D,Finding Dory,2016-06-20 20:30,NaN,NaN,15.0,8,NaN
81786,Grand Cinema,2D,Blair Witch,2016-09-20 20:00,NaN,NaN,26.0,8,NaN
81787,Hip Cinema,2D,Allied,2016-11-21 20:30,NaN,NaN,13.0,8,NaN
81788,Grand Cinema,3D,Triple 9,2016-01-10 17:30,NaN,NaN,15.0,9,NaN
81789,Grand Cinema,IMAX,The Angry Birds Movie,2016-06-01 17:00,NaN,NaN,17.0,10,NaN
81790,Grand Cinema,IMAX,Zootopia,2016-03-01 21:00,NaN,NaN,51.0,10,NaN
81791,Grand Cinema,2D,The BFG,2016-06-20 23:00,NaN,NaN,52.0,4,NaN
81792,Hip Cinema,2D,Hidden Figures,2016-12-19 22:00,NaN,NaN,13.0,1,NaN
81793,Grand Cinema,IMAX,Snowden,2016-09-25 22:00,NaN,NaN,68.0,10,NaN
81794,Grand Cinema,3D,The Witch,2016-03-10 23:00,NaN,NaN,45.0,9,NaN
81795,Hip Cinema,2D,Masterminds,2016-10-18 20:30,NaN,NaN,13.0,2,NaN
81796,Hip Cinema,2D,Jackie,2016-12-06 19:00,NaN,NaN,26.0,2,NaN
81797,Grand Cinema,3D,Star Trek Beyond,2016-07-18 19:00,NaN,NaN,15.0,8,NaN
81798,Hip Cinema,3D,Jackie,2016-12-12 23:00,NaN,NaN,15.0,8,NaN

In [5]:
#Receive a dataframe, column to extract
#Return the dataframe with ids and unique values
def extract_dimension(df, df_column, column_name):
    df = pd.DataFrame(df[df_column].unique(), columns=[df_column])
    df['id_'+column_name] = df.index+1
    return df

In [47]:
#Extract format
df_format = extract_dimension(all_sales, 'format', 'format')

In [48]:
csv_format = pd.read_csv('arquivos/tickets_list.csv', sep=';') 
csv_format

  projection_format  ticket price (Euros)
0                2D                    13
1                3D                    15
2              IMAX                    17

In [49]:
csv_format.rename(columns={'projection_format':'format', 'ticket price (Euros)':'price', }, inplace=True)

csv_format

  format  price
0     2D     13
1     3D     15
2   IMAX     17

In [54]:
df_format = pd.merge(csv_format, df_format, on='format') 
df_format

  format  price  id_format
0     2D     13          1
1     3D     15          2
2   IMAX     17          3

In [56]:
from sqlalchemy import create_engine
import pandas.io.sql

engine = create_engine('postgresql://postgres:leury5@localhost/postgres')

In [57]:
#write to the database
df_format.to_sql(name='dim_pformat', con=engine, index=False)

In [13]:
#Extract cinema
df_cinema = extract_dimension(all_sales, 'cinema', 'cinema')

df_cinema

         cinema  id_cinema
0  Grand Cinema          1
1    Hip Cinema          2

In [14]:
df_cinema.to_sql(name='dim_pcinema', con=engine, index=False)

In [15]:
#Extract Promotion
df_promotion = extract_dimension(loyalty_sales, 'promotion', 'promotion')

for index,row in df_promotion.iterrows():
    if 'free' in df_promotion.loc[index,'promotion']:
        df_promotion.loc[index,'type'] = 0
    else:
        df_promotion.loc[index,'type'] = df_promotion.loc[index,'promotion'][0:1]

In [17]:
df_promotion.head(2)

                        promotion  id_promotion type
0  5 euros reduction for a ticket             1    5
1  2 euros reduction for a ticket             2    2

In [58]:
df_promotion.to_sql(name='dim_ppromotion', con=engine, index=False)

In [18]:
df_movie = extract_dimension(all_sales, 'movie', 'movie')

In [23]:
#Run this cell after errors corrections
for index,row in df_movie.iterrows():
        df_movie.loc[index,'query'] = df_movie.loc[index,'movie'].replace(' ', '+')
        v_query = df_movie.loc[index,'movie'].replace(' ', '+')
        movie_info = getMovieInfo(v_query)
        df_movie.loc[index,'budget'] = movie_info[0]
        df_movie.loc[index,'runtime'] = movie_info[1]
        df_movie.loc[index,'vote_average'] = movie_info[2]

In [31]:
df_movie.head(2)

           movie  id_movie          query    budget runtime vote_average
0  Sausage Party         1  Sausage+Party  19000000      83          5.6
1          Keanu         2          Keanu  15000000      94          6.0

In [25]:
#Verification if there's any movie without from the API
df_movie_errors = df_movie[(df_movie['budget'] == 0) & (df_movie['runtime'] == 0) & (df_movie['vote_average'] == 0)]
df_movie_errors

Empty DataFrame
Columns: [movie, id_movie, query, budget, runtime, vote_average]
Index: []

In [22]:
#Movie names were wrong, now we can correct them

df_movie['movie'].replace(
    to_replace='Rogue One: A Star Warss Story',
    value='Rogue One: A Star Wars Story',
    inplace=True
) 

df_movie['movie'].replace(
    to_replace='Gods of Ygypt',
    value='Gods of Egypt',
    inplace=True
)  

df_movie['movie'].replace(
    to_replace='Warrcraft',
    value='Warcraft',
    inplace=True
)

In [30]:
df_movie.drop('query', axis=1).to_sql(name='dim_pmovie', con=engine, index=False)